.container {
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: #82818145;
    border: 1px solid #000;
    border-radius: 10px;
    z-index: 100;
    gap: 10px;
    padding: 5px;
    left: 5vw;
    top: 1vh;
}

.container div span {
    font-size: 1.5em;
    color: #eee;
    display: flex;

}

.container div span:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    color: #e6a038;
    cursor: pointer;

}


.subContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

}